*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


#main_contentainer{
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */

}

.contentainer{
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; (upor line same kaj agulu responsive hisabe kaj kore) */
      /* grid-template-columns:repeat(5, 1fr/auto);    (upor 2 line ar short)*/
    /* grid-template-columns:10% 50% 5% 10% 25%; */
    /* grid-template-columns: 100px 100px 100px 100px 100px; */
    /* grid-template-columns: repeat(5, 100px); (uporer lin ar short)*/ 
       /* grid-template-columns:  60% 40%; */
      
    /* grid-column-gap:10px;
    grid-row-gap:15px; */

    /* grid-template-rows: 50px 600px ; */
    grid-template-rows: repeat(5, 100px);
    /* grid-auto-rows: 30px; */

    gap:15px 10px;

}

.item{
    /* width: 100px;
    height:100px; */
    background-color: rgb(68, 143, 230);
    font-size: 20px;
    color:aliceblue
}

.item1{
    /* grid-column-start: 1;
    grid-column-end:5 */
    grid-column: 1/5;
    /* grid-row-start: 1;
    grid-row-end: 4; */
    grid-row: 1/3;
}